## Final Project Submission

Please fill out:
* Student name: Benson Mungai Muriu
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!
# import the required libraries 
import pandas as pd
import matplotlib.pyplot as plt

LOADING DATA

In [ ]:
#Read the files and view the in a dataframe format in first file
title_akas = pd.read_csv("/home/mungai/Downloads/dsc-phase-1-project-master/zippedData/title.akas.csv")
title_basics = pd.read_csv("/home/mungai/Downloads/dsc-phase-1-project-master/zippedData/title.basics.csv") 

movie_gross = pd.read_csv('/home/mungai/Downloads/dsc-phase-1-project-master/zippedData/bom.movie_gross.csv')
movie_gross

In [13]:
#check for missing values
movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [14]:
#check for missing values in each each column
movie_gross[movie_gross['studio'].isna()]

                              title studio  domestic_gross foreign_gross  year
210   Outside the Law (Hors-la-loi)    NaN         96900.0       3300000  2010
555         Fireflies in the Garden    NaN         70600.0       3300000  2011
933           Keith Lemon: The Film    NaN             NaN       4000000  2012
1862                 Plot for Peace    NaN          7100.0           NaN  2014
2825               Secret Superstar    NaN             NaN     122000000  2017

In [15]:
movie_gross[movie_gross['domestic_gross'].isna()]

,title,studio,domestic_gross,foreign_gross,year
230,It's a Wonderful Afterlife,UTV,NaN,1300000,2010
298,Celine: Through the Eyes of the World,Sony,NaN,119000,2010
302,White Lion,Scre.,NaN,99600,2010
306,Badmaash Company,Yash,NaN,64400,2010
327,Aashayein (Wishes),Relbig.,NaN,3800,2010
537,Force,FoxS,NaN,4800000,2011
713,Empire of Silver,NeoC,NaN,19000,2011
871,Solomon Kane,RTWC,NaN,19600000,2012
928,The Tall Man,Imag.,NaN,5200000,2012
933,Keith Lemon: The Film,NaN,NaN,4000000,2012
936,"Lula, Son of Brazil",NYer,NaN,3800000,2012
966,The Cup (2012),Myr.,NaN,1800000,2012
1017,Dark Tide,WHE,NaN,432000,2012
1079,The Green Wave,RF,NaN,70100,2012
1268,22 Bullets,Cdgm.,NaN,21300000,2013
1308,Matru Ki Bijlee Ka Mandola,FIP,NaN,6000000,2013
1340,The Snitch Cartel,PI,NaN,2100000,2013
1342,All the Boys Love Mandy Lane,RTWC,NaN,1900000,2013
1368,6 Souls,RTWC,NaN,852000,2013
1659,Jessabelle,LGF,NaN,7000000,2014
1681,14 Blades,RTWC,NaN,3800000,2014
1685,Jack and the Cuckoo-Clock Heart,Shout!,NaN,3400000,2014
1739,Lila Lila,Crnth,NaN,1100000,2014
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [16]:
movie_gross[movie_gross['foreign_gross'].isna()]

,title,studio,domestic_gross,foreign_gross,year
222,Flipped,WB,1800000.0,NaN,2010
254,The Polar Express (IMAX re-issue 2010),WB,673000.0,NaN,2010
267,Tiny Furniture,IFC,392000.0,NaN,2010
269,Grease (Sing-a-Long re-issue),Par.,366000.0,NaN,2010
280,Last Train Home,Zeit.,288000.0,NaN,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [17]:

movie_gross[movie_gross['year']>2022]

Empty DataFrame
Columns: [title, studio, domestic_gross, foreign_gross, year]
Index: []

In [ ]:
#Load the second file 
title_basics

In [ ]:
#sort the values using primary title alphabetically
title_basics.sort_values('primary_title')

In [ ]:
#check for duplicates 
title_basics['primary_title'].value_counts().nlargest(10)

In [22]:
#check for the information
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [ ]:
print(pd.unique(title_basics['primary_title'])

In [36]:
title_basics[title_basics['original_title'].isna()]

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
39095,tt2397619,Woody Allen: A Documentary,NaN,2012,195.0,NaN
58624,tt3414266,The Outer Loop,NaN,2013,78.0,NaN
62944,tt3616658,The Hangman,NaN,2017,NaN,NaN
79274,tt4548042,Urban Legend: The Blind Side Strangler,NaN,2016,NaN,NaN
80116,tt4599436,Please Don't Eat the Pansies,NaN,2016,NaN,NaN
82058,tt4715728,Regen,NaN,2016,NaN,NaN
82308,tt4732998,Limbo,NaN,2017,NaN,NaN
85353,tt4940426,OldZilla,NaN,2018,NaN,NaN
104040,tt6092540,Rangreza,NaN,2017,NaN,NaN
104418,tt6107024,The Cage,NaN,2017,NaN,NaN
107378,tt6288348,Deadly Affection,NaN,2017,NaN,NaN
108971,tt6403090,What It Takes to Win,NaN,2017,NaN,NaN
108983,tt6404278,Over Nor Out,NaN,2018,NaN,NaN
111377,tt6509234,Samurai Cop 3,NaN,2019,NaN,NaN
111899,tt6543294,The Work,NaN,2017,NaN,NaN
112608,tt6603544,Utopians,NaN,2015,NaN,NaN
115131,tt6823030,"Hilfe, ich hab meine Eltern geschrumpft",NaN,2018,NaN,Adventure
115934,tt6877572,X A 7,NaN,2020,NaN,NaN
115983,tt6882442,Hirugao: Love Affairs in the Afternoon,NaN,2017,125.0,Romance
116205,tt6900940,Hasan Minhaj: Homecoming King,NaN,2017,NaN,NaN
116350,tt6911842,Senioritus,NaN,2017,75.0,NaN

In [37]:
title_basics[title_basics['runtime_minutes'].isna()]

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
21,tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama"
...,...,...,...,...,...,...
146131,tt9915790,Bobbyr Bondhura,Bobbyr Bondhura,2019,NaN,Family
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary